{% extends "base.html" %}
{% block title %}
<title>Note-It</title>
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}
<div class="main-content-wrapper container-fluid">
    <div class="row main-content">
        <h2 id="main-title">Note-It</h2>
        <h5>Markdown for your handwritten notes. Search your notes quickly and efficiently.</h5>
        <button id="login-button" class="btn btn-primary">Login</button>
    </div>
</div>
{% endblock %}
