{% extends "base.html" %}

{% block title%}
<title>Note-It</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<script>
    $(function() {

        $( "#sortable" ).sortable({
            revert: true
        });

        $( "#draggable" ).draggable({
            connectToSortable: "#sortable",
            helper: "clone",
            revert: "invalid"
        });

        $( "ul, li" ).disableSelection();
    });
</script>

{% block body %}
<div class="main">

    <div class="nav-side-menu" style="z-index: 100;">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <div class="welcome cursive">Note-It</div>
        </div>
    </div>

    <div class="hello" >
        <input type="search">
        <h3 class="notebook-name">Notebook Name</h3>
        <hr />
        <ul id="sortable" class="sortable"></ul>
        <a class="fab btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>

    <div class="popup-create popup-hidden">
        <form class="upload" action="">
            <input id="uploadform" type="file" multiple class="multi with-preview accept-png|jpg"/>
            <input id="submitButton" class="btn btn-primary" type="button" value="Upload" name="Submit"/>
        </form>
    </div>

    <div id="centered-spinner">
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/handlebars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</div>
{% endblock %}
